<div class="container">
  <div class="row">
    <div class="col-12">
      <h4>Select an option</h4>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
        <label class="form-check-label" for="flexRadioDefault1">
          Individual
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2">
        <label class="form-check-label" for="flexRadioDefault2">
          Minor
        </label>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h6 class="card-title">Individual</h6>
          <div class="form-group">
            <div class="mb-3">
              <label for="name" class="form-label">Name:</label>
              <input type="text" class="form-control" id="name" placeholder="Type here..">
            </div>
            <div class="mb-3">
              <label for="phone" class="form-label">Phone No:</label>
              <input type="tel" class="form-control" id="phone" placeholder="Type here..">
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">Email Id</label>
              <input type="text" class="form-control" id="email" placeholder="Type here..">
            </div>
            <div class="mb-3">
              <label for="address" class="form-label">Address</label>
              <textarea class="form-control" id="address" rows="3"></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <h6 class="card-title">Minor</h6>
          <div class="form-group">
            <div class="mb-3">
              <label for="name" class="form-label">Name:</label>
              <input type="text" class="form-control" id="name" placeholder="Type here..">
            </div>
            <div class="mb-3">
              <label for="guardian" class="form-label">Guardian:</label>
              <input type="text" class="form-control" id="guardian" placeholder="Type here..">
            </div>
            <div class="mb-3">
              <label for="phone" class="form-label">Phone No:</label>
              <input type="tel" class="form-control" id="phone" placeholder="Type here..">
            </div>
            <div class="mb-3">
              <label for="email" class="form-label">Email Id</label>
              <input type="text" class="form-control" id="email" placeholder="Type here..">
            </div>
            <div class="mb-3">
              <label for="address" class="form-label">Address</label>
              <textarea class="form-control" id="address" rows="3"></textarea>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>